/* font */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');



:root{
    --light-gray:#2b3032a1;
    --primary-color:#45ccb8;
    --border:#2b303218;
    --text-color:#ff686b;
    --roboto:"Roboto", sans-serif;
    --gugi:"Gugi", cursive;
    --sofia:"Sofia",cursive;
    --lato:"Lato",sans-serif;
    --arvo:"Arvo",sans-serif;
}

/* Global Classes */
.primary-color{
    color: var(--primary-color);
}

.bg-primmary-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color: lightblue;
}


.navbar{
    background: linear-gradient(90deg, rgba(67,198,172,1) 0%, rgba(25,22,84,1) 100%);
}


.nav-link{
    color: white !important;
    font-family: var(--roboto);
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
}




.MainCard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: teal;
}

h3{
    color: teal;
}
.card1, .card2, .card3{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    
}
.fa-truck-moving{
    font-size: 50px !important;
    margin-right: 20px;
}


/* .Why-Us{
    background-color: #f4f4f4;
    height:200px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-gap: 1em;
} */


.Why-Us{
    background-color: #f4f4f4;
    height:200px;
    display: flex;
    width: auto;
    padding: 30px;
}
.card-img, .card-heading h5, .card-para p{
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: space-ar;
    align-items: center;
    margin: 10px 10px 10px 10px;

} 





.newarrivals{
    margin-top: 30px;
}

.heading{
    text-align: center ;
    color: teal;
}

.card{
width: 250px;
height: auto !important;
margin-bottom: 10px;
}

.card-text{
    font-weight: bold;
}